body a {
    color: #84a9ca !important;
    text-decoration: none !important;
}

.a-tag {
    margin-left: 10px;
    background-color: #f8fafc;
    border: solid .1rem;
    border-radius: .1rem;
    border-color: #6ea6e2;
    font-size: .65rem;
    padding: 1px 2px;
    color: #007bff;
}

#ay {
    /*max-width: 88%;*/
    border-radius: 5px;
    opacity: 0.95;
    margin: 2rem auto;
    box-shadow: 0 1rem 5rem #44798f42;
    min-height: 800px;
    border: solid 1px #fff;
}
#site_title {
    font-weight: bold;
    /*color: #84a9ca;*/
}
#site_sub_title {
    /*padding-left: 1rem;*/
    /*color: #84a9ca;*/
}
#title {
    /*color: #84a9ca;*/
    color: #333;
    font-size: 2rem;
    /*font-weight: bold;*/
}
#head {
    padding-top: 1rem;
}
#main {
    color: #464646;
}
#main a {
    color: #008299;
}
#main {
    min-height: 800px;
}
#markdown {
    padding: 2rem 0;
}
#foot {
    padding: .4rem 0;
}

input::placeholder {
  color: #cdd6d8 !important;
}

#ay .table-bordered thead th {
    border-bottom-width: 1px;
}

.a-pd-lr30 {
    padding: 0 30px;
}
.a-pd-t10 {
    padding-top: 10px;
}

.a-1line-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.a-bbtext {
    word-wrap: break-word;
    white-space: break-spaces;
}
