jade:include templete/head.jade

#ay.container
    .p-3

    #main.row

        .col-1
        .col-10.a-pd-lr30
            div
                a#title.a-site-link(href="", val="username") <%author%>
                span.a-tag(val="role_name") 建立者
            #info.text-muted
                span Thank you for delivering informations since&nbsp;
                span(val="reg_date") 1999-01-01
            hr
            .p-3
            .row
                #content.col.text-muted
                    | One's page is coming..

        .col-1

    #foot.row.text-center.bg-light
        .col.text-muted
            span Thanks again ©&nbsp;
            span(val="username")

script.

    $(()=> {
        let paras = window.location.pathname.split("/");
        const username = paras[2];
        common.api_post({
            url: "/api/user/query",
            data: {"username": username},
            success: (res)=> {
                if(res.code == 0) {
                    $("[val=username]").text(res.data["username"]);
                    $("[val=reg_date]").text(res.data["reg_date"]);
                    $("[val=role_name]").text(res.data["role_name"]);
                    common.scroll_to_ele($("#ay"));
                } else {
                    $.notify(res.desc, "error");
                }
            },
        });
    });

