jade:include templete/head.jade

#ay.container
    .p-3

    #main.row
        .col-3
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text.text-muted 作者
                input.form-control(placeholder="<%author%>", val="author")
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text.text-muted 日期
                input.form-control(placeholder="自动获取", val="datetime")
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text.text-muted 标签
                input.form-control(placeholder="多个标签用逗号隔开", val="tags")
            .form-group
                .form-check.form-check-inline
                    input.form-check-input(type="radio", name="radio_status", checked, val="status")
                    label.form-check-label(for="status") 公开
                .form-check.form-check-inline
                    input.form-check-input(type="radio", name="radio_status", val="status2")
                    label.form-check-label(for="status2") 私密
            .form-group
                button#btn_submit.btn.btn-success 发布

        .col-9
            .form-row
                .form-group.col-12
                    label.form-check-label(for="update_link") 自定义链接地址
                    input.form-control(placeholder="标题（生成链接地址）", val="title")
            .form-row
                .form-group.col-3
                    .form-check.form-check-inline
                        input.form-check-input(type="checkbox", val="update_link")
                        label.form-check-label(for="update_link") 自定义链接地址
                .form-group.col-9
                    input.form-control(placeholder="链接地址", disabled, val="link")
            .form-row
                .form-group.col-12
                    textarea.form-control(rows="30", placeholder="内容（使用 Markdown 格式）", val="content")


    jade:include templete/site_foot.jade

script.
    $(()=> {

        $("[val=datetime]").val(common.get_datetime_string());
        common.scroll_to_ele($("#ay"));

        let GW = {
            "update_link": true,
        };

        $("[val=update_link]").on("change", function() {
            let checked = $(this).is(":checked");
            if(checked) {
                $("[val=link]").attr("disabled", null);
                GW.update_link = false;
            } else {
                $("[val=link]").attr("disabled", "");
                GW.update_link = true;
            }
        });

        $("[val=title]").on("input", function() {
            let title = $("[val=title]").val();
            if(GW.update_link) {
                let link = title.replace(/[^0-9a-z]+/gi, "-");
                link = link.replace(/^\-+|\-+$/g, "");
                $("[val=link]").val(link);
            }
        });

        $("#btn_submit").on("click", function() {
            let req_data = {
                "title": $("[val=title]").val() || "",
                "link": $("[val=link]").val() || "",
                "datetime": $("[val=datetime]").val() || "",
                "author": $("[val=author]").val() || "",
                "tags": $("[val=tags]").val() || "",
                "content": $("[val=content]").val() || "",
                "status": $("[val=status]").is(":checked") ? 1 : 0,
            };
            common.api_post({
                url: "/api/note/add",
                data: req_data,
                success: (res)=> {
                    console.log(res);
                    if(res.code == 0) {
                        $.notify(res.desc, "success");
                        setTimeout(()=> {
                            window.location.href = "/note/" + res.data + "/" + req_data["link"];
                        }, 1000);
                    } else {
                        $.notify(res.desc, "error");
                    }
                },
            });
            return false;
        });

    });
