jade:include templete/head.jade

#ay.container
    .p-3

    #main.row

        .col-1
        .col-11.a-pd-lr30
            div
                a#title.a-site-link(href="")
            #info.text-muted
                a#author.a-site-link(href="#")
                span &nbsp;@&nbsp;
                span#datetime
            hr
            #markdown

    jade:include templete/site_foot.jade

script(src="/static/js/showdown.min.js")
link(href="/static/css/solarized-light.css", rel="stylesheet")
script(src="/static/js/highlight.pack.js")
script.

    $(()=> {
        let paras = window.location.pathname.split("/");
        const note_id = paras[2];
        let req_data = {
            "note_id": note_id,
        };
        let converter = new showdown.Converter({
            "tables": true,
        });
        common.api_post({
            url: "/api/note/query",
            data: req_data,
            success: (res)=> {
                console.log(res);
                if(res.code == 0) {
                    $("#title, title").text(res.data.title);
                    $("#title").attr("href", res.data.link);
                    $("#datetime").text(res.data.datetime);
                    $("#author").attr("href", encodeURI("/author/" + res.data.author));
                    $("#author").text(res.data.author);

                    let html = converter.makeHtml(res.data.content);
                    $("#markdown").html(html);
                    hljs.highlightAll();

                    common.scroll_to_ele($("#ay"));

                    $("#markdown table").addClass("table").addClass("table-bordered");
                    $("#markdown table>thead").addClass("thead-light");
                } else {
                    $.notify(res.desc, "error");
                }
            },
        });
    });
