jade:include templete/head.jade

#ay.container
    .p-3

    #main.row
        .col-3
            .form-group
                label.text-muted 作者
                input.form-control(placeholder="<%author%>", val="author")
            .form-group
                label.text-muted 日期:
                input.form-control(placeholder="自动获取", val="datetime")
            .form-group
                label.text-muted 标签
                input.form-control(placeholder="多个标签用逗号隔开", val="tags")
            .form-group
                .form-check.form-check-inline
                    input.form-check-input(type="radio", name="radio_status", checked, val="status")
                    label.form-check-label(for="status") 公开
                .form-check.form-check-inline
                    input.form-check-input(type="radio", name="radio_status", val="status2")
                    label.form-check-label(for="status2") 私密
            .form-group
                button#btn_submit.btn.btn-success 更新

        .col-9
            .form-row
                .form-group.col-12
                    input.form-control(placeholder="标题（生成链接地址）", val="title")
            .form-row
                .form-group.col-3
                    .form-check.form-check-inline
                        input.form-check-input(type="checkbox", val="update_link")
                        label.form-check-label(for="update_link") 自定义链接地址
                .form-group.col-9
                    input.form-control(placeholder="链接地址", disabled, val="link")
            .form-row
                .form-group.col-12
                    textarea.form-control(rows="30", placeholder="内容（使用 Markdown 格式）", val="content")


    jade:include templete/site_foot.jade

script.
    $(()=> {

        common.scroll_to_ele($("#ay"));

        let paras = window.location.pathname.split("/");
        const note_id = paras[2];
        let GW = {
            "update_link": true,
            "note_id": note_id || null,
        };
        let req_data = {
            "note_id": note_id,
        }
        common.api_post({
            url: "/api/note/query",
            data: req_data,
            success: (res)=> {
                console.log(res);
                if(res.code == 0) {

                    $("[val=title]").val(res.data.title);
                    $("[val=link]").val(res.data.link.split("/").pop());
                    $("[val=datetime]").val(res.data.datetime);
                    $("[val=author]").val(res.data.author);
                    $("[val=tags]").val(res.data.tags);
                    $("[val=content]").val(res.data.content);

                    $.notify(res.desc, "success");
                } else {
                    $.notify(res.desc, "error");
                }
            },
        });

        $("#update_link").on("change", function() {
            let checked = $(this).is(":checked");
            if(checked) {
                $("[val=link]").attr("disabled", null);
                GW.update_link = false;
            } else {
                $("[val=link]").attr("disabled", "");
                GW.update_link = true;
            }
        });

        $("[val=title]").on("input", function() {
            let title = $("[val=title]").val();
            if(GW.update_link) {
                let link = title.replace(/[^0-9a-z]+/gi, "-");
                link = link.replace(/^\-+|\-+$/g, "");
                $("[val=link]").val(link);
            }
        });

        $("#btn_submit").on("click", function() {
            if(GW.note_id === null) {
                $.notify("请刷新页面后重试", "error");
                return false;
            }
            let req_data = {
                "note_id": GW.note_id,
                "title": $("[val=title]").val() || "",
                "link": $("[val=link]").val() || "",
                "datetime": $("[val=datetime]").val() || "",
                "author": $("[val=author]").val(),
                "tags": $("[val=tags]").val() || "",
                "content": $("[val=content]").val() || "",
                "status": $("[val=status]").is(":checked") ? 1 : 0,
            };
            common.api_post({
                url: "/api/note/edit",
                data: req_data,
                success: (res)=> {
                    console.log(res);
                    if(res.code == 0) {
                        $.notify("更新成功", "success");
                        setTimeout(()=> {
                            window.location.reload();
                        }, 500);
                    } else {
                        $.notify("更新失败: " + res.desc, "error");
                    }
                },
            });
            return false;
        });

    });
